html  {
   background: url(/img/liquid_note.jpg) no-repeat center center fixed;
   background-size: cover;
}

/*Make Images Fluid*/
img  {
  max-width: 100%;
  height: auto;
}
  img[alt="download"]  {
      width:35px;
      vertical-align:middle;
  }

h1  {
    font-family: 'Nothing You Could Do', cursive;
    font-size: 5rem;
    text-align: center;
    margin-top: 3rem;
}

main {
    position: relative;
}

label  {
    font-family: 'Nothing You Could Do', cursive;
    font-size: 3rem;
    text-align: center;
    display: block;
    margin-top: 7rem;
}

input  {
    font-family: 'Nothing You Could Do', cursive;
    display: inline-block;
    margin-top: 5vh;
    margin-left: 30vw;
    width: 50vw;
    height: 7vh;
    border-radius: 15px;
    font-size: 1.7rem;
    border: solid 2px #517E9D;
}

#req_btn  {
    font-family: 'Nothing You Could Do', cursive;
    font-size: 2.5rem;
    margin-top: 7vh;
    height: 7vh;

}

a[href*= "//www.youtubeinmp3.com/fetch/"]  {
    display: block;
    margin-top: 4rem;
    margin-left: 48vw;
    font-size: 3rem;
    color:#03a730;
    text-decoration:none;
}


