html {
    background: url(/img/liquid_note.jpg) no-repeat center center fixed;
    background-size: cover;
}


/*Make Images Fluid*/

img {
    max-width: 100%;
    height: auto;
}

img[alt="download"] {
    width: 6vw;
    vertical-align: middle;
}

img[alt="youtube_logo"] {
    width: 8vw;
    max-width: 70px;
    min-width: 50px;
    height: auto;
    margin-left: 80vw;
    cursor: pointer;
}

nav {
    position: relative;
    width: 100%;
    height: 12vh;
}

figcaption {
    font-family: Helvetica Arial;
    font-size: 1.3rem;
    margin-left: 80vw;
    width: 20vw;
    max-width: 115px;
    min-width: 50px;
    font-weight: 600;
}

#close {
    position: absolute;
    right: 0;
    cursor: pointer;
    margin: -15px -15px;
}

#youtube_search_form {
    position: absolute;
    left: 0;
    right: 0;
    top: 10vh;
    margin: 5px auto;
    width: 20vw;
    min-width: 250px;
    height: 60vh;
    /* Need a specific value to work */
    background-color: rgba(135, 206, 235, .9);
    border-radius: 8px;
    z-index: 999;
    -webkit-animation-name: bounce;
    animation-name: bounce;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
}

#youtube_search_form input {
    font-size: 1.4rem;
    display: block;
    width: 18vw;
    height: 3rem;
    margin: 2vh auto;
}

#youtube_submit {
    max-width: 5vw;
    max-height: 5vh;
    min-width: 85px;
    cursor: pointer;
    text-align: center;
    background-color: darkgrey;
}


/* Safari Syntax for Bounce effect */

@-webkit-keyframes bounce {
    0% {
        -webkit-transform: translateY(-100%);
        opacity: 0;
    }
    5% {
        -webkit-transform: translateY(-100%);
        opacity: 0;
    }
    15% {
        -webkit-transform: translateY(0);
        padding-bottom: 5px;
    }
    30% {
        -webkit-transform: translateY(-120%);
    }
    40% {
        -webkit-transform: translateY(0%);
        padding-bottom: 6px;
    }
    50% {
        -webkit-transform: translateY(-100%);
    }
    70% {
        -webkit-transform: translateY(0%);
        padding-bottom: 7px;
    }
    80% {
        -webkit-transform: translateY(-85%);
    }
    90% {
        -webkit-transform: translateY(0%);
        padding-bottom: 8px;
    }
    95% {
        -webkit-transform: translateY(-45%);
    }
    97% {
        -webkit-transform: translateY(0%);
        padding-bottom: 9px;
    }
    99% {
        -webkit-transform: translateY(-15%);
    }
    100% {
        -webkit-transform: translateY(0);
        padding-bottom: 9px;
        opacity: 1;
    }
}
/*Standard Syntax*/
@keyframes bounce {
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }
    5% {
        transform: translateY(-100%);
        opacity: 0;
    }
    15% {
        transform: translateY(0);
        padding-bottom: 5px;
    }
    30% {
        transform: translateY(-120%);
    }
    40% {
        transform: translateY(0%);
        padding-bottom: 6px;
    }
    50% {
        transform: translateY(-100%);
    }
    70% {
        transform: translateY(0%);
        padding-bottom: 7px;
    }
    80% {
        transform: translateY(-85%);
    }
    90% {
        transform: translateY(0%);
        padding-bottom: 8px;
    }
    95% {
        transform: translateY(-45%);
    }
    97% {
        transform: translateY(0%);
        padding-bottom: 9px;
    }
    99% {
        transform: translateY(-15%);
    }
    100% {
        transform: translateY(0);
        padding-bottom: 9px;
        opacity: 1;
    }
}

h1 {
    font-family: 'Audiowide', cursive;
    font-size: 3.5rem;
    text-align: center;
    margin-top: 3rem;
}

main {
    position: relative;
}

label {
    font-family: 'Audiowide', cursive;
    font-size: 2rem;
    text-align: center;
    display: block;
    margin-top: 7rem;
}

form label {
    font-family: Arial;
    font-size: 2.5rem;
    margin-top: 6.5vh;
    margin-bottom: 18vh;
}

input {
    font-family: Arial;
    display: inline-block;
    margin-top: 5vh;
    margin-left: 30vw;
    width: 35vw;
    height: 8vh;
    border-radius: 15px;
    font-size: 1.7rem;
    line-height: 1.6rem;
    border: solid 2px #517E9D;
}

#url_prefix {
    display: block;
    margin-top: 4rem;
    margin-left: 35vw;
    font-size: 3rem;
    color: #254B6F;
    text-decoration: none;
}

strong {
    color: #05182a;
}

.hidden {
    display: none;
    visibility: hidden;
}

.blurgrayscale {
    -webkit-filter: blur(3px) grayscale(100%);
    filter: blur(3px) grayscale(100%);
    opacity: 0.6;
}
