html  {
   background: url(/img/liquid_note.jpg) no-repeat center center fixed;
   background-size: cover;
}

/*Make Images Fluid*/
img  {
  max-width: 100%;
  height: auto;
}

h1  {
    font-family: 'Nothing You Could Do', cursive;
    font-size: 5rem;
    text-align: center;
    margin-top: 3rem;
}

label  {
    font-family: 'Nothing You Could Do', cursive;
    font-size: 3rem;
    text-align: center;
    display: block;
    margin-top: 7rem;
}


input  {
    font-family: 'Nothing You Could Do', cursive;
    display: inline-block;
    margin-top: 5vw;
    margin-left: 30vw;
    width: 50vw;
    height: 7vh;
    border-radius: 15px;
    font-size: 1.6rem;
    border: solid 2px #517E9D;
}
